@import './styles/_base.scss';
.App {
  text-align: center;
}

.container.layout {
  display: grid;
  grid-template-areas: 'header header header header header header'
  'menu content-header content-header content-header content-header content-header'
  'menu main main main main main'
  'menu main main main main main';
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.content-header {
  background: #eee;
  color: #888;
  font-size: 2em;
  font-weight: 700;
  padding: 20px 40px;
  line-height: 1.5;
}

.App-link {
  color: #61dafb;
}

.chartWrapper {
  background-color: blue;
}

.Cheading {
  font-size: 1.5rem;
  color: black;
}
